<div class="user-edit">
  <div class="user-edit-title">
    <h2>プロフィールを編集</h2>
  </div>
  <div class="edit-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <table class="edit-field">
      <tr>
        <th><%=f.label :name, "ユーザー名" %></th>
        <td><%= f.text_field :name, autofocus: true, autocomplete: "name"%></td>
      </tr>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <tr>
        <th><%= f.label :password, "パスワード" %>(6文字以上)</th>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "パスワード（確認）" %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th><%= f.label :icon, "プロフィール画像" %></th>
        <td><%= f.file_field :icon %></td>
      </tr>
      <tr>
        <th><%= f.label :introduce, "自己紹介" %></th>
        <td><%= f.text_area :introduce %></td>
      </tr>
      <tr>
        <th><%= f.label :current_password, "現在のパスワード" %> <i>(登録内容を変更するために必要です)</i></th>
        <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
      </tr>
    </table>
  </div>  
  <div class="actions">
    <%= f.submit "変更した内容を登録" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<p>削除しますか？ <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
