<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<%= search_form_for @q, url: search_reviews_path do |f| %>
  <%= f.label :title_or_author_cont, "作品名もしくは著者名で検索" %>
  <%= f.search_field :title_or_author_cont %>
  <%= f.label :thought2_cont, "感想から検索" %>
  <%= f.search_field :thought2_cont %>
  <%= f.submit "検索" %>
<% end %>

<%= search_form_for @q, url: search_reviews_path do |f| %>
  <%= f.label :thought1_cont,"読後感から検索" %>
  <%= f.collection_check_boxes :thought1_cont_any, Tag.all, :id, :name, multiple: true, include_hidden: false do |tag| %>
    <%= tag.check_box %>
    <%= tag.text %>
  <% end %>
  <%= f.submit "検索" %>
<% end %>
