<div>
        <p id="thumbnail"></p>
    </div>
    <%= form_with model: @review do |f| %>
    <div>
      <%= f.label :isbn, "isbn13:" %>
      <%= f.text_field :isbn, id: "isbn" %>
      <button id="getBookInfo" class="btn btn-default">書籍情報取得</button>
    </div>
      <%= f.label :title, "書籍名" %>
      <%= f.text_field :title, id: "title" %>
      <%= f.label :author, "著者" %>
      <%= f.text_field :author, id: "author" %>
      <%= f.label :publisher, "出版社" %>
      <%= f.text_field :publisher, id: "publisher" %>
      <div class="after">
      <%= f.label :thought1, "読後感" %>
      <%= f.collection_check_boxes :thought1, Tag.all, :id, :name do |tag| %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
      </div>
      <%= f.label :thought2, "感想" %>
      <%= f.text_area :thought2 %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "登録" %>
    <% end %>

   
